# Игнорирование специфичных файлов IDE, в данном случае Visual Studio Code
.vscode/

# Игнорируется каталог tmp
tmp/

# Игнорируются все файлы с суффиксом в расширении _backup 
*_backup

# Игнорируются все файлы с суффиксом в расширении _old 
*_old

# Игнорируются все файлы отслеживания процессов
*.log